{% extends 'base.html.twig' %}

{% block body %}
    <main class="center">
        <h1>Product creation</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('annonces') }}">Retour vers les annonces</a>
            </li>
        </ul>
    </main>
{% endblock %}
