{% extends 'base.html.twig' %}

{% block body %}

        <main class="fiche center">
            <div class="imgproduct-f">
                <img src="{{ asset('bundles/GearPlusBundle/media/test.jpg') }}">
            </div>
            <div class="text-product clearfix">
                <h2><a href="#" class="title-product">Casquette DOPE</a></h2>
                <p>Vendeur : Martin Vendeur (95)</p>
                <p class="prix">12 €</p>
            </div>

            <div class="statproduct-f">
                <p class="pictostat statbea">BEAUTÉ : 0</p>
                <p class="pictostat statcha">CHARISME : 0</p>
                <p class="pictostat statint">INTELLIGENCE : 0</p>
            </div>

            <div class="fiche-content">
                <div class="description">
                    <h2>Description</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet ipsum nec ipsum blandit egestas. Proin vel tellus orci. Integer vitae porttitor nisl, a convallis erat. Proin aliquam commodo posuere. Duis ullamcorper risus vitae ex dictum, ac laoreet magna mollis. Vestibulum sed elementum orci. Phasellus ac semper nulla, sed consectetur massa. Duis malesuada a dolor vel feugiat. Nunc ultrices lacinia sapien blandit tincidunt. Phasellus finibus eros in tortor volutpat tincidunt at nec est. Aliquam dapibus mi arcu, et aliquet enim laoreet ac.</p>
                </div>
                <div class="contact">
                    <h2>Contact :</h2>
                    <ul>
                        <li>Email : <a href="#">devolus@gmail.com</a> </li>
                        <li>Téléphone : <a href="#">0782156505</a> </li>
                    </ul>
                </div>
            </div>
        </main>

{% endblock %}